<body>
	<style>
		h1{
			display: inline;
			letter-spacing: 1px;
		}
		a{
			text-decoration: none;
			color:black;
		}
		a:hover{
			text-decoration: none;
		}
	</style>
	<div style="text-align:center; padding:15px;">
			<h1>502 </h1><h1><%= link_to 'Bad', new_user_session_path %></h1><h1> Gateway</h1>
	</div>
	<div style="text-align:center; border-top: 1px solid #222; padding-top:30px;">
		<p>nginx/1.40.11.2</p>
	</div>
</body>