.mainpage{
	background-color:black;
	background-size: cover;
	width:100%;
	height: 720px;
	font-size:30px;
	color:white;
	margin:0px;
	overflow-x:hidden;
}
.mainpage p{
	font-size: 15px;
	color: #02f902;
	font-weight: bold;
}
/* Head */

.mainpage .header{
	background-color: black;
	display: none;
}
.mainpage .header ul{
	text-align:right;
	padding-right:20px; 
}
.mainpage .header li{
	display: inline-block;
	border-radius: 3px;
	padding:5px;
	margin:5px;
}
.mainpage .header li:hover{
	background: #bbb;
	color:black;
}

.mainpage .header .tnav{
	display: inline-block;
	height: 40px;
	vertical-align: middle;
}
.mainpage a{
	color:white;
}
.mainpage a:hover{
	text-decoration: none;
	color:white;
}
.main_container{
	width:90%;
	margin:auto;
}
/*time*/
.mobhead{
	display: none;
}

/*data*/
.information_container{
	height:400px;
	margin-bottom: 20px;
	padding:10px;
	border-radius: 3px;
	border: 2px solid rgba(99%,99%,99%,0.5);
	width:100%;
	position:relative;
}
#instruction{
	display:none;
	background-color:rgba(10%,10%,10%,0.5);
	text-align:left;
	padding-left:10px;
	position:absolute;
	top:150;
	left:50;
	width: 50%;
	height: 100%;
	z-index: 10000;
	border:2px solid rgba(99%,99%,99%,1);
}
#instruction p{
	color: white;
	font-weight:normal;
	font-size: 17px;
}
.information_container .panel{
	text-align: center;
	background: transparent;
	height: 100%;
	width: 100%;
	border-radius: 0px;
	border: 2px solid rgba(99%,99%,99%,0.5);
	margin-left:10px;
}
#p1img{
	display: none;
	background: url(http://i.imgur.com/nhk5its.gif);
	background-size: 100% 100%;
}
#p2img{
	background: url(http://geektyper.com/ASSETS/img/hash.gif);
	background-size: 100% 100%;
}
#p3img{
	background: url(http://geektyper.com/ASSETS/img/downloading.gif);
	background-size: 100% 100%;
}
#p4img{
	background: url(http://geektyper.com/ASSETS/img/downloading.gif);
	background-size: 100% 100%;
}
#p5img{
	background: url(denied.png);
	background-size: 99% 99%;
}


/* Terminal */
.terminal_container{
	height:300px;
	padding:10px;
	border-radius: 3px;
	border: 2px solid rgba(99%,99%,99%,0.5);
	width:100%;
}

.terminal{
	width: 100%;
	height:280px;
	overflow: scroll;
}

.terminal input{
	outline-style: none;
	border:none;
	background-color: transparent;
	color:#02f902;
	width:95%;
	font-size: 15px;
	font-weight: bold;
	font-family: inherit;
	line-height: inherit;
}
#inputm{
	display: none;
}
#inputarea{
	width:100%;
	height:90px;
	outline-style: none;
	border:1px solid white;
	font-size: 50px;
	font-weight: bold;
	color:black;
	display: none;
}
#inputarea:focus{
	border:3px solid rgb(1%,98%,1%);
}



@media screen and (max-aspect-ratio: 5/6){
	.mainpage{
		height: 100%;
	}
	.mainpage p{
		font-size: 35px;
		color: #02f902;
		font-weight: bold;
	}
	.main_container{
		width:100%;
	}
	.comhead{
		display: none;
	}
	.mobhead{
		display: block;
	}
	#instruction{
		width:98%;
	}
	#instructione{
		display: none;
	}
	#instruction p{
		color: white;
		font-weight:normal;
		font-size: 40px;
	}
	.terminal input{
		font-size: 35px;
	}
	.information_container{
		height:600px;
	}
	.terminal{
		height:90%;
	}
	.terminal_container{
		height: 700px;
	}
	#inputm{
		display: block;
	}
	#inputc{
		display: none;
	}
	::-webkit-input-placeholder {
		font-size: 50px;
	}
	#inputarea{
		display:block;
	}
}





