.show_main{
	background-size: 100%;
	font-size:30px;
	color:white;
	top:0;
	margin:0px -10px -40px -10px;
}
 /* Head */
.show_main .showhead{
	background-color: black;
	position:fixed;
	top:0;
	left: 0;
	right: 0;
  	z-index: 3;
  	width: 100%;
}

.show_main .headblocker{
	background-color: transparent;
	position:fixed;
	top:0;
	left: 0;
	right: 0;
  	z-index: 10000;
  	width: 100%;
  	height: 100px;
}

.show_main .tablenav{
	width: 100%;
	margin: -20px 0px -20px 0px;
}

#clock{
	padding-left: 30px;
}

.show_main .information{
	padding-right: 20px;
	margin:0px;
	font-size: 15px;
	float:right;
}

/* Terminal */

.show_main .container1{
	background-image: url(jupiter.jpg);
	background-size: 100% auto;
    width: 100%;
    height: 800px;
    padding: 0px 30px 10px 30px;
}

.terminal{
	width: 100%;
	height: 500px;
	overflow: scroll;
}

.terminal input{
	outline-style: none;
	border:none;
	background-color: transparent;
	color:inherit;
	width:80%;
	font-size: 15px;
	font-weight: bold;
	font-family: inherit;
	line-height: inherit;
}

.show_main p{
	font-size: 15px;
	font-family: Times;
	color: #02f902;
	font-weight: bold;

}

/*暫時不開啟*/
#msgbox{
	width: 100%;
	height: 460px;
	overflow: scroll;
	border: 3px solid rgba(1%,98%,1%,0.5);
	border-radius: 5px;
	display:none;
}

#trademark {
	font-size: 20px;
	text-align: right;
	margin: 0px;
}

/*personal information*/

.show_main .container2{
	background: white;
	background-size: 100% auto;
    width: 100%;
    height: 400px;
    font-size: 20px;
    color: black;
    display:none;
}

/*instruction block*/
.show_main .instruction{
	margin:auto;
	text-align: center;
}

.show_main #instructionimg{
	border: 5px solid white;
	border-radius: 20px;
	padding: 10px;
	width:100%;
}

.show_main .instructionflow{
	width:80%;
	margin:auto;
	padding:30px;
	overflow: scroll;
	overflow-x: auto;
	overflow-y: hidden;
	white-space:nowrap; /*this place all the slide view code*/
}

.show_main .instructionsimg{
	display: inline-block;
	border: 5px solid white;
	border-radius: 5px;
	padding: 3px;
	height:120px;
	cursor: pointer;
	cursor: hand;
}



