.signin_main{
	margin:0px;
	padding:0px;
	width:100%;
	background-color: black;
	text-align: center;
}
.signin_main .container{
	margin:auto;
}

.signin_main .id_input{
	background-color: transparent;
	width:20%;
}

.signin_main table{
	margin:auto;
	text-align: center;
}

.signin_main .password{
	background-color: transparent;
	width:20%;
}

.dot{
	background-color: rgba(100%, 100%, 100%, 0.8);
	border-radius: 100%;
	height:15px;
	width:15px;
	margin:auto;
}

.key{
	height:50px;
	width:50px;
	margin: 10px;
	border:1px solid rgba(95%, 95%, 95%, 0.4);
	background-color: rgba(90%, 90%, 90%, 0.1);
	border-radius: 100%;
	text-align: center;
	color:white;
}

.line{
	height:50px;
	width:50px;
	margin: 10px;
}

