body{
	margin:0px;
}
.singuppage .contain{
	margin:0px;
	width:100%;<%= @userip %>
	background-size: cover;
	overflow-x:hidden;
	color: rgb(1%,98%,1%);;
	background-attachment: fixed;
}
/*nav*/
.singuppage .header{
	width:100%;
	height:450px;
}
.singuppage .header2{
	display:none;
}
.singuppage .row{
	width:100%;
	margin: auto;
}
#snasaimg{
	text-align: left;
	height:60px;
}
.singuppage .navpill{
	text-align: right;
	vertical-align: middle;
}

.singuppage .navpill li{
	display: inline-block;
	padding: 8px;
	font-size: 20px;
	color:white;
	margin:10px;
	z-index: 3;
}
.singuppage .navpill li:hover{
	background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
}
.singuppage .navpill li:last-child:hover{
	background-color: rgba(255,255,255,0);
}
.singuppage #signinbtn{
	border:3px solid white;
	border-radius: 5px;
	padding:6px;
}
.singuppage #signinbtn:hover{
	border:3px solid rgb(1%,98%,1%);
	color:rgb(1%,98%,1%);
}
.singuppage .navpill a{
	color:white;
}
.singuppage .navpill a:hover{
	text-decoration: none;
	color:white;
}
.singuppage #signinimg{
	height:150px;
	width: auto;
	text-align: right;
	border-radius: 3px;
}
/*content*/
.content{
	text-align:center;
	margin-top:50px;
	font-size:40px;
	color:white;
}
.snasa{
	margin-top:20px;
	text-shadow:2px 2px 5px black;
}
#sterminal{  /*media 要改*/
	width: 40%;
	height: 200px;
	overflow: scroll;
	margin:auto;
	text-align: left;
	color:rgb(1%,98%,1%);
	font-size: 20px;
}
#sinput{
	outline-style: none;
	border:none;
	background-color: transparent;
	width: 95%;
}

/*sign up block*/
.signup_container{
	width:100%;
}
.signupblock{
	width:40%; /*media 要改*/
	border-radius: 10px;
	background:rgba(10,10,10,0.7);
	margin:auto;
	padding:30px;
}
.signup_field{
	width:100%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid white;
	margin-bottom: 10px;
	font-size: 20px;
	padding-left: 20px;
	display: none;
}
::-webkit-input-placeholder {
	font-size: 20px;
}
.signup_field:focus{
	outline: none;
	box-shadow:0px 0px 10px rgb(1%,98%,1%);
}

#signup_btn{
	width:100%;
	height: 40px;
	background: #111;
	color:white;
	font-size: 20px;
	border-radius: 3px;
	border: 1px solid white;
}
#signup_btn:hover{
	box-shadow:0px 0px 10px rgb(1%,98%,1%);
}

.singuppage .gradient{
	border-bottom: 1px solid rgba(255,255,255,0.5);
	height:150px;
	width:100%;
	background: -webkit-linear-gradient(top, rgba(1,1,1,0), rgba(1,1,1,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(1,1,1,0), rgba(1,1,1,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(1,1,1,0), rgba(1,1,1,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(1,1,1,0), rgba(1,1,1,1)); /* Standard syntax (must be last) */
}
/*Tuitor
.tuitor{
	height: 700px;
}*/
/*About
.about{
	height: 500px;
}*/

/*footer*/
.singuppage .foot1,.singuppage .foot2{
	color:white;
	background-color: black;
	height: 100px;
	padding-top:60px;
}
.singuppage .foot2{
	display: none;
}

@media screen and (min-width: 800px) and (max-width: 1050px) and (max-height:1100px) {
	.signupblock , #sterminal{
		width:60%;
	}
}
@media screen and (min-width: 600px) and (max-width: 800px) and (max-height:1100px)  {
	.signupblock , #sterminal{
		width:80%;
	}
	.snasa{
	font-size:35px;
	}
}
@media screen and (max-width: 600px) and (max-height:1100px)  {
	#sterminal{
		width:90%;
	}
	.signupblock{
		width:100%;
		background:rgba(10,10,10,0.7);
		padding:30px;
	}
	.snasa{
		font-size:30px;
	}
}
@media screen and (max-aspect-ratio: 5/6){
	body{
		font-weight: bold;
	}
	.singuppage .header{
		width:100%;
		height:936px;
	}
	.singuppage .header1{
		display:none;
	}
	.singuppage .header2{
		display:block;
	}
	.singuppage #snasaimg{
		text-align: left;
		width:100%;
		height:150px;
	}
	.content{
		margin-top: 500px;
	}
	.snasa{
		font-size:60px;
	}
	#sterminal{
		width:100%;
		padding:20px;
		font-size: 45px;
		height: 400px;
		font-weight: bold;
	}
	.signupblock{
		width:100%;
		background:rgba(10,10,10,1);
		padding:30px;
		border-radius: 0px;
		margin-top: 300px;
	}
	.signup_field{
		height: 120px;
		display: block;
		font-size: 60px;
	}
	#signup_btn{
		height: 120px;
		font-size: 60px;
		background: #28c6ad;
		box-shadow:0px 0px 10px rgb(1%,98%,1%);

	}
	::-webkit-input-placeholder {
		font-size: 60px;
	}
	.singuppage .gradient{
		display: none;
	}
	.singuppage .foot2{
		font-size: 30px;
		padding-top: 10px;
		display: block;
	}
	.singuppage .foot1{
		display: none;
	}
}
