.signin_main{
	margin:0px;
	height:800px;
	background-color: #000;
	text-align: center;
}
.signin_main .container{
	margin:auto;
}
.signin_main table{
	margin:auto;
	text-align: center;
}

.signin_main #table1{
	height:30px;
	margin-top: 50px;
}

.signin_main #pwInput{
	background-color: transparent;
	width:100px;
	height:30px;
	border:2px solid rgba(100%, 100%, 100%, 0.8);
	border-radius: 10px;
	margin-top: 40px;
	color:white;
	text-align: center;
	outline: none;
}

.dot{
	background-color: rgba(100%, 100%, 100%, 0.8);
	border-radius: 100%;
	height:15px;
	width:15px;
	margin:auto;
}

.key{
	height:50px;
	width:50px;
	margin: 10px;
	border:1px solid rgba(95%, 95%, 95%, 0.4);
	background-color: rgba(90%, 90%, 90%, 0.1);
	border-radius: 100%;
	text-align: center;
	color:white;
	font-size: 15px;
	outline: none;
}

.line{
	height:10px;
	width:50px;
	margin: 10px;
}

#login{
	height:50px;
	width:50px;
	margin-top: 20px;
	border:1px solid rgba(95%, 95%, 95%, 0.8);
	background-color: rgba(90%, 90%, 90%, 0.1);
	border-radius: 100%;
	text-align: center;
	color:white;
	font-size: 20px;
	font-style: bold;
	outline: none;
}

#login:hover{
	color:rgba(0%, 95%, 0%, 0.8);
	border:1.5px solid rgba(0%, 95%, 0%, 0.8);
}

@media screen and (max-aspect-ratio: 5/6){
	.signin_main{
		width: 100%;
		height: 1700px;
	}
	.dot{
		height:30px;
		width:30px;
	}
	.key{
		height:180px;
		width:180px;
		font-size: 70px;
		font-weight: bold;
		margin: 30px;
		border:3px solid rgba(95%, 95%, 95%, 0.4);
	}
	.line{
		height:100px;
	}
	.signin_main #pwInput{
		width:80%;
		height:100px;
		font-size: 50px;
		margin: 30px;
		border-radius: 30px;
		border:5px solid rgba(100%, 100%, 100%, 0.8);
	}
	#login{
		height:180px;
		width:180px;
		font-size: 70px;
		border:3px solid rgba(95%, 95%, 95%, 0.8);
	}
}
